
body{
    /* background-color: rgb(255, 240, 240); */
    background-color: black;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
}

.images{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0 45px;
      background-color: rgb(255, 240, 240);
      padding: 150px 0;
  
}

img{
    width:22%;
}

.border{
    margin-top: 50px;
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-size: larger;
    /* margin-bottom: 25px; */
}


.etal{
        font-size: 25px;
}

video{
    width: 425px;
}

.Vid-3d-cover{
    margin-top: 175px;
    display: flex;
    justify-content: center;
    gap: 2rem;
background-color: black;
}